
body {
	font-family: Calibri;
	width: 100%;
}

.container {
    border: 1px solid black;
    width: 293px;
    margin: 50px auto 50px 350px;
	border-radius: 7px;
	background: lightgray;
}

fieldset {
	width: 276px;
	margin: 5px auto 2px 2px;
	padding: 5px;
}

header {
	margin-top: 5px;
	margin-left: 120px;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: xx-large;
}

span {
	font-size: x-large;
	margin: 3px;
}

input {
	margin-top: 2px;
	margin-bottom: 8px;
	width: 160px;
	padding-left: 3px;
}

.prps {
	width: 55px;
}

#btn {
	width: 22px;
}

ul {
	padding-left: 20px;
	list-style: none;
	color: navy;
	overflow-x: hidden;
}

li {
	max-width: 180px
}
